{% extends "network/layout.html" %}

{% block body %}
    <div class="center-index">
        <div id="NewPost">
            <button id="closeButton" class="btn btn-outline-dark btn-sm">X</button>
            <form class="center-form" id="PostForm">
                <h2 style="font-family: 'GeoSansBody', Arial, sans-serif;">New Echo</h2>
                <textarea id="postcontent" required autofocus name="content"></textarea>
                <input type="submit" class="btn btn-outline-dark btnnew" style="margin-top: 2vh;" value="Echo It!">
            </form>
        </div>
        <div id="currentPosts">
        </div>
        <nav aria-label="Page navigation example" id="paginatebar">
            <ul class="pagination" id="pagebar">
            </ul>
          </nav>
    </div>
{% endblock %}